
<body>
  <header class="header">
    <div id="naslovContainer">
      <h1 id="naslov">Vaša mašta - vaša bašta</h1>
    </div>
  </header>
  <div id="content">
    <div id="formContainer">
      <div id="formDiv">
        <h3 id="naslovPrijava">Registracija</h3>
        <div id="korisnicko_ime" class="formelem">
          Korisničko ime: <input type="text" [(ngModel)]="korisnicko_ime" (change)="checkUsername()"><br>
          <div class="errorMess">
            {{messageKorImeError}}
          </div>
        </div>
        <div id="lozinka" class="formelem">
          Lozinka: <input type="password" [(ngModel)]="lozinka" (change)="checkPassword()"><br>
          <div class="infoMess">
            Lozinka mora imati minimalno 6 karaktera, maksimalno 10 karaktera.<br>
            Mora imati jedno veliko slovo, tri mala slova, jedan broj, jedan specijalni karakter i mora počinjati slovom.
          </div>
          <div class="errorMess">
            {{messageLozError}}
          </div>
        </div>
        <div id="ime" class="formelem">
          Ime: <input type="text" [(ngModel)]="ime"><br>
        </div>
        <div id="prezime" class="formelem">
          Prezime: <input type="text" [(ngModel)]="prezime"><br>
        </div>
        <div id="pol" class="formelem">
          Pol: M<input type="radio" value="muski" name="pol" [(ngModel)]="pol"> Z<input type="radio" value="zenski" name="pol"
            [(ngModel)]="pol"><br>
        </div>
        <div id="adresa" class="formelem">
          Adresa: <input type="text" [(ngModel)]="adresa"><br>
        </div>
        <div id="telefon" class="formelem">
          Telefon: <input type="text" [(ngModel)]="telefon" (change)="checkPhone()"><br>
          <div class="errorMess">
            {{messagePhoneError}}
          </div>
        </div>
        <div id="email" class="formelem">
          E-mail: <input type="text" [(ngModel)]="email" (change)="checkEmail()"><br>
          <div class="errorMess">
            {{messageEmailError}}
          </div>
        </div>
        <div id="slika" class="formelem">
          Slika: <input type="file" [(ngModel)]="profilna_slika_file" (change)="pictureUploaded($event)"><br>
          <div class="infoMess">
            Fotografija mora biti veličine najmanje 100x100 px, a najveće 300x300 px.<br>
            Fotografija mora biti u formatu .png, .jpg ili .jpeg.
          </div>
          <div class="errorMess">
            {{messagePictureError}}
          </div>
        </div>
        <div id="broj_kartice" class="formelem">
          Broj kreditne kartice: <input type="text" [(ngModel)]="broj_kartice" (change)="checkCardNumber()">
          <img *ngIf="tipKartice=='diners'" src="assets/images/dinerscard-logo.png" class="cardLogo">
          <img *ngIf="tipKartice=='mastercard'" src="assets/images/mastercard-logo.jpg" class="cardLogo">
          <img *ngIf="tipKartice=='visa'" src="assets/images/visa-logo.jpg" class="cardLogo">
          <div class="errorMess">
            {{messageCardNumberError}}
          </div>
        </div>
        <div id="registerButtonContainer">
          <button (click)="register()" id="registerButton">Registruj se</button><br>
          <div class="errorMess">
            {{messageRegisterError}}
          </div>
          <div class="succesMess">
            {{messageRegisterSucces}}
          </div>
        </div>
      </div>
      <div id="povratakNaPocetnuLinkContainer">
        <a routerLink="" id="povratakNaPocetnuLink">Povratak na početnu stranu</a>
      </div>
    </div>
  </div>
  <footer class="footer">
    <p> Vaša mašta - vaša bašta <br> PIA projekat septembar 2024 <br> Elektrotehnički fakultet, Univerzitet u Beogradu </p>
  </footer>
</body>
